{
    CFBundleExecutable = "iTeleport";
    CFBundleIconFile = icon.png;
    CFBundleIdentifier = "co.jalby.iteleport";
    CFBundleInfoDictionaryVersion = 6.0;
    CFBundlePackageType = APPL;
    CFBundleSignature = "????";
    CFBundleSupportedPlatforms = (
	iPhoneOS
    );
    CFBundleVersion = 1.0;
    NSLocationWhenInUseUsageDescription = "iTeleport is easier to use if it has your location!";
    DTPlatformName = iphoneos;
    DTSDKName = iphoneos3.0;
    LSRequiresIPhoneOS = 1;
    MinimumOSVersion = 3.0;
}
